<% content_for :content do %>

<div id="search">
	<%= render :partial => 'simple_search' %>
</div>

<div id='results'>
</div>

<% end %>

<% content_for :sidebar do %>

<div id="sidebar_contents">
	<%= render :partial => 'latest_queries' %>
</div>

<% end %>